<nav id="nav"> 
  <div class="nav-wrapper">
  	<div class="container">
	  <ul id="nav-mobile" class="left hide-on-med-and-down">
	  	<li><%= link_to 'Employees', employees_path %></li>
		<li><%= link_to 'Stores', stores_path %></li>
	    <li><%= link_to 'Assignments', assignments_path %></li>
      </ul>
	</div>
  </div>
</nav>