<nav class="navbar navbar-expand">
  <a class="navbar-brand" id='title' href="/">ACF Quarantine Challenge</a>
  

  
    <ul class="navbar-nav ml-auto" id='navlinks'>
      <% if logged_in? %>
        <li class="nav-item"><%= link_to 'Logout', logout_path %></li>
      <% else %>
        <li class="nav-item"><%= link_to 'Login/Create Account', login_path %></li>
      <% end %>
		</ul>
  
    
</nav>


