<div class="row valign-wrapper" id="topbar">
  <div class="col s1">
    <%= link_to(image_tag('tam-logo_80x80.png'), home_path) %>
  </div>
  <div class="col s10">
    <h2>A&M Creamery</h2>
  </div>
  <div class="col s1">
    &nbsp;
  </div>
</div>