
<% if @users.nil? %>
  <h4>There are no users in the system at this time.</h4>
<% else %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Rank</th>
        <th scope="col">User</th>
        <th scope="col">Points</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= @users.find_index(user) + 1 %></td>
          <td><%= user.name %></td>
          <td><%= user.points %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
<%end%>

<div>
  <%= link_to 'New User', new_user_path, class: "btn btn-primary"%>
</div>