<%= image_tag 'avatars.png', class: 'avatars'  %>

<div class="row">
    <div class="inline-card">
        <div class="card-body-inline">
            <h4>About</h4>
            <p>The ACF Quarantine Challenge was created by a group of five CMU students!
            We are David, Matthew, Ricky, Kimberly, and Amy.
            </p>
            <p>This app was designed for the Asian Christian Fellowship in Pittsburgh, PA.
            If you are in the area and are searching for a college fellowship or church, please reach out to us!
            We would love to help get you connected.
            </p>
        </div>
        <div class="about-stuff">
        <a class='small-link' href="/">Home</a>
            <a class='small-link' href="contact">Contact</a>
            <a class='small-link' href="privacy">Privacy</a>
        </div>
    </div>
</div>