<%= image_tag 'logo.png', class: 'homepage-logo'  %>

<div class="row">
    <div class="inline-card">
        <div class="card-body-inline">
            <h4>Contact</h4>
            <p>If you have any questions or concerns, please contact:
            </p>
            <a href="mailto:dyuan1@andrew.cmu.edu">dyuan1@andrew.cmu.edu</a>
        </div>
        <div class="about-stuff">
            <a class='small-link' href="/">Home</a>
            <a class='small-link' href="about">About</a>
            <a class='small-link' href="privacy">Privacy</a>
        </div>
    </div>
</div>