<div class="row">
    <div class="inline-card">
        <h4>Contact:</h4>
        <div class="card-content">
            <p>If you have any questions or concerns, please contact: dyuan1@andrew.cmu.edu
            </p>
        </div>
    </div>
</div>