<div class="row">
    <div class="inline-card">
        <h4>Privacy Statement:</h4>
        <div class="card-content">
            <p>We will do our best to protect your privacy and promise that we have no malicious intentions behind this app.
            </p>
        </div>
    </div>
</div>