<%= image_tag 'logo.png', class: 'homepage-logo'  %>

<div class="row">
    <div class="inline-card">
        <div class="card-body-inline">
            <h4>Privacy</h4>
            <p>We will do our best to protect your privacy and promise that we have no malicious intentions behind this app.
            </p>
        </div>
        <div class="about-stuff">
            <a class='small-link' href="/">Home</a>
            <a class='small-link' href="about">About</a>
            <a class='small-link' href="contact">Contact</a>
        </div>
    </div>
</div>