/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/********** FLASH MSGS ********/
#flash_notice, #flash_error, #flash_alert {
    padding: 5px 8px;
    margin: 10px;
  }

  #flash_notice {
    background-color: #CFC;
    border: solid 1px #6C6;
    color: #008000;
  }

  #flash_error, #flash_alert {
    background-color: #FCC;
    border: solid 1px #C66;
    color: #800000;
  }

  .alert-box {
    border-style: solid;
    border-width: 1px;
    display: block;
    font-size: 0.8125rem;
    font-weight: normal;
    margin-bottom: 1.25rem;
    padding: 0.875rem 1.5rem 0.875rem 0.875rem;
    position: relative;
    transition: opacity 300ms ease-out;
    background-color: #008CBA;
    border-color: #0078a0;
    color: #FFFFFF; }
    .alert-box .close {
      right: 0.25rem;
      background: inherit;
      color: #333333;
      font-size: 1.375rem;
      line-height: .9;
      margin-top: -0.6875rem;
      opacity: 0.3;
      padding: 0 6px 4px;
      position: absolute;
      top: 50%; }
      .alert-box .close:hover, .alert-box .close:focus {
        opacity: 0.5; }
    .alert-box.radius {
      border-radius: 3px; }
    .alert-box.round {
      border-radius: 1000px; }
    .alert-box.success {
      background-color: #e8f5e9;
      border-color: #a5d6a7;
      color: #1b5e20; }
    .alert-box.alert {
      background-color: #f04124;
      border-color: #de2d0f;
      color: #FFFFFF; }
    .alert-box.secondary {
      background-color: #e7e7e7;
      border-color: #c7c7c7;
      color: #4f4f4f; }
    .alert-box.warning {
      background-color: #fff3e0;
      border-color: #ffcc80;
      color: #ef6c00; }
    .alert-box.info {
      background-color: #a0d3e8;
      border-color: #74bfdd;
      color: #4f4f4f; }
    .alert-box.alert-close {
      opacity: 0; }

// use this class as a wrapper div for every single page

.relative-wrapper {
  position: relative;
}

.scroll {
    display: block;
    position: relative;
    overflow-y: auto;
    // padding-top: 50px;
    padding-bottom: 70px;
}

// styles for team show page
.centered {
  text-align: center;
}

.inline-card {
   width: 80%;
   border: 2px black;
   background-color: rgba(167, 165, 165, 0.48);
   border-radius: 8px;
//    height: 150px;
//    line-height: 150px;
//    overflow: auto;
    &.home{
        margin: 0 auto;
        text-align: center;

    }
}

.image-left {
  max-width: 25%;
  margin: 0.75rem;
  display: inline-block;
  border-radius: 50px;
}

.card-body-inline {
  padding: 10px;
  display: inline-block;
  vertical-align: middle;

  &.home{
    text-align: center;
  }
}

.new-button{
  text-align:center;
  // width: 20%;
  // margin-left: 40%;
  // margin-right: 40%;
}

// styles for navbar
body{
   font-family: 'Open Sans',serif !important;
}

.navbar{
    height: 50px;
    background: #779ECA;
}

.navbar #title{
    font-size: 2em;
}

.nav-link {
    text-align: center;
}

.nav-item{
    margin: auto;
    width: 25%;
    margin-left: 20px;
}

#title{
    color:white;
}

#navlinks a{
    color:white;
}

#info-footer{
    background-color: #CCDAEB;
    max-width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    left: 0;

}

#info-footer span{
    color:#77B6FF;
}

.icon {
  margin: 0 3vw;
}

//Challenges and Teams Styling
.table-page{
  text-align:center;
  display: inline-block;
  margin: 0 auto;
}

.challenges-content{
  display:block;
  width: 100vw;
}

.p-2{
  justify-content: center;
}

.nav-tabs li {
  padding:6px;
  display: inline-block;
  margin: 0 auto;
  white-space: nowrap;
  padding:12px;

  &.left-tab{
    margin-left: 4%;
  }
  &.right-tab{
    margin-right: 4%;
  }
}

.tab-content{
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

//Table Styling
.text-center{
    font-family: Open Sans;
    color: #555151;
    padding-top: 3%;
    font-size: 2rem;
    font-weight: lighter;
}

th{
    color:#8D8D8D;
    font-weight:100;
    text-transform: capitalize;
}

//Form styling

.form-class{
  margin: 2%;
}

.user-form{
    width: 80%;
    margin: 0 auto;

  .row{
    position: relative;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    //left: 50%;
    //top: 60%;
    //margin-right: 50%;
    //margin-top: 15%;
    //transform: translate(-50%, -50%);

    @media only screen and (min-width: 700px) {
        margin-top: 60px;
    }
  }
}

.col{
  text-align: center;
  margin: 0 auto;
}

.homepage-logo{
    position: relative;
    width: 50vw;
    margin-top: 10%;
    margin-bottom: 10px;
    margin-left: 25%;
    @media only screen and (min-width: 700px) {
        margin-top: 40px;
        width: 25vw;
        margin-left: 37%;
    }
}

.avatars{
    position: relative;
    width: 60vw;
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 20%;
    @media only screen and (min-width: 700px) {
        margin-top: 40px;
        margin-bottom: 15px;
    }
}

.about-stuff{
    text-align: center;
    font-size: .6em;
    padding: 10px;
    word-spacing: 10px;
    @media only screen and (min-width: 1200px) {
        display: none;
    }
}


@media only screen and (max-width: 1200px) {
  .navbar-brand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .navbar #title{
      font-size: 1.5em;
  }

  ul.navbar-nav{
      flex-direction: row;
      padding:0;
  }

  #navlinks{
      display:none;
  }

  #footer{
      width:100vw;
  }

  #footer .nav-item{
      font-size: 40%;
  }

  #info-footer{
      display:none;
  }
}



  @media only screen and (min-width: 1200px) {
    .scroll {
        max-width: 80%;
        margin: auto;

        .extra-margin {
            max-width: 50%;
            margin: auto;
        }
    }

    #footer{
        display:none;
    }

    #info-footer{
        position:fixed;
        bottom: 0;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
  }

.creation-button {
  width: 20px;
  margin-left: 43%;
  width: 15%;
  margin-bottom: 20px;
  @media only screen and (max-width: 1200px) {
    width: 30%;
    margin-left: 35%;
  }
}

.submissions-area{
  @media only screen and (min-width: 800px) {
    text-align: center;
  }
}

.submission {
  margin: 20px;
  max-height: 80vh;
  text-align: center;
  background-color: #D6E8FF;
  display: inline-block;
  max-width: 250px;

  .placeholder-pic {
    height: 25vw;
    width: 25vw;
    background-color: #555;
    text-align: center;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .title {
    font-weight: bolder;
    font-size: 1.5rem;
    overflow: hidden;
    padding: 5px;
  }

  .show-edit-destroy {
    font-size: 12px;
    margin-bottom: 6px;
  }

  .caption {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }


  @media only screen and (max-width: 700px) {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;

    .placeholder-pic {
      height: 60vw;
      width: 60vw;
      background-color: #555;
      text-align: center;
      margin: 0 auto;
    }
  }
}
